---
const { entry } = Astro.locals.starlightRoute;
const icon = (entry.data as Record<string, unknown>).icon as string | undefined;
const isImage = !!icon && (icon.startsWith('/') || icon.startsWith('http://') || icon.startsWith('https://'));
const isEmoji = !!icon && !isImage;
---

{isImage && <img src={icon} alt="" aria-hidden="true" class="page-title-icon-img" />}
{isEmoji && <span class="page-title-icon" aria-hidden="true">{icon}</span>}
<h1 id="_top">{entry.data.title}</h1>

<style>
	.page-title-icon {
		display: block;
		font-size: 2.5rem;
		line-height: 1;
		margin-bottom: 0.4rem;
	}

	.page-title-icon-img {
		display: block;
		width: 3rem;
		height: 3rem;
		object-fit: contain;
		margin-bottom: 0.6rem;
	}
</style>
