---
import BrandMark from './BrandMark.astro';
---

<div class="author-bio">
	<div class="author-card">
		<span class="author-avatar" aria-hidden="true"><BrandMark /></span>
		<div>
			<div class="author-name">Leonardo Ruano Hernández</div>
			<div class="author-tag">Escribe sobre producto, IA y el oficio de construir.</div>
		</div>
	</div>
</div>
