---
import { getCollection } from 'astro:content';
import { esArticulo } from '../lib/regiones';

const allDocs = await getCollection('docs');
const ultimo = allDocs
	.filter((doc) => esArticulo(doc) && doc.data.pubDate)
	.sort((a, b) =>
		(b.data.pubDate as Date).getTime() - (a.data.pubDate as Date).getTime()
	)[0];
---

{ultimo && (
	<a href={`/${ultimo.id}/`} class="btn-primario">
		Último artículo
		<span aria-hidden="true">→</span>
	</a>
)}
